/*---------------Eric Meyer CSS Reset-------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
  outline: 0;
}
body {
  line-height: 1;
  color: black;
  background: white;
}
ol, ul {
  list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}
blockquote, q {
  quotes: "" "";
}
/*----------------------------------------------------*/


#game {
  z-index: 0;
  position: fixed;
  height: calc(100vw * (9 / 16));
  width: 100vw;
  overflow-x: hidden;
  opacity: 1;
}

#background-layer {
  overflow-x: hidden;
  padding-top: 100px;
  background: linear-gradient(to bottom, #90dffe 0%,#38a3d1 100%);
  width: calc(100vw + 600px);
  height: calc(100vw * (9 / 16));
  z-index: -1;
  position: fixed;
  left: -300px;
}

#gameVisible {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.topBlock {
  background-color: #43B047;
  position: absolute;
  width: 150px;
  z-index: inherit;
}

.bottomBlock {
  background-color: #43B047;
  position: absolute;
  height: calc(100vh - 300px);
  width: 150px;
  top: 300px;
  z-index: inherit;
}

.bird {
  opacity: 1;
  background-color: blue;
  position: absolute;
  width: 50px;
  height: 50px;
  left: 200px;
}

#player0 {
  z-index: -5;
}

#player1 {
  z-index: 3;
  background-color: red;
}

#player2 {
  z-index: 2;
  background-color: orange;
}

#player3 {
  z-index: 1;
  background-color: teal;
}

.ob1 {
  z-index: -1;
  animation: animateCloud 20s linear infinite;
  transform: scale(.6);
}

.cloud {
  z-index: -1;
  background-color: #fff;
  width: 300px;
  height: 100px;
  position: relative;
  border-radius: 100px;
}

.cloud:before {
  background-color: #fff;
  position: absolute;
  content: '';
  width: 160px;
  height: 160px;
  top: -80px;
  left: 50px;
  border-radius: 200px;
}

.cloud:after {
  background-color: #fff;
  position: absolute;
  content: '';
  width: 70px;
  height: 70px;
  top: -35px;
  left: 180px;
  border-radius: 70px;
}

/*animations*/

@keyframes animateCloud {
    0% {
        margin-left: calc(100% - 300px);
    }
    100% {
        margin-left: -400px;
    }
}
